<div classs="p-3 mb-3 bg-dark text-white rounded">
    <p>
       Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500. 
    </p>
    <p class="mb-0">
       Cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
    </p>
  

</div>

<p>
No <strong>sólo sobrevivió 500 años</strong>,  sino que tambien ingresó como texto de relleno en documentos electrónicos, <strong>quedando esencialmente igual al original </strong>.
</p>

<a href="#" class="btn btn-warning btn-lg">Comentarios</a>